extends baseEmail

block content
  p Hi #{firstName},
    p Welcome to Natours, we're glad to have you.
    p We're all a big familiy here, so make sure to confirm your email to activate your account!
    p Your email confirmation token will expire in 1 week.
    table.btn.btn-primary(role='presentation' border='0' cellpadding='0' cellspacing='0')
      tbody
        tr
          td(align='left')
            table(role='presentation' border='0' cellpadding='0' cellspacing='0')
              tbody
                tr
                  td
                    a(href=`${url}` target='_blank') Confirm email

    p If you need any help with booking your next tour, please don't hesitate to contact me!
    p - Aituar Abdil, CEO